<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="dog" class="com.werner.pojo.Dog"/>
	<bean id="cat" class="com.werner.pojo.Cat"/>
	
	<bean id="people" class="com.werner.pojo.People" autowire="byName">
		<property name="name" value="hani"></property>
	</bean>
	
	<bean id="people2" class="com.werner.pojo.People" autowire="byType">
		<property name="name" value="lisa"></property>
	</bean>
	
</beans>	
